.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    table {
      width: 100%;

      th {
        text-align: left;
      }

      tr {
        height: 150px;

        td {
          padding: 10px;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            font-weight: 300;
            color: gray;
          }
        }

        button {
          background-color: #013914;
          color: white;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
        }

        &.active {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
